@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Teko:wght@300..700&display=swap');

body {
    font-family: "Teko", sans-serif;
}

.hero-content h1 {
    margin-top: 2em !important;
    font-size: 60px !important;
    letter-spacing: 0.8px !important;
}

.hero-content p {
    margin-bottom: 2em !important;
    font-size: 18px !important;
    line-height: 1.5 !important;
    letter-spacing: 0.8px !important;
}
.navbar-nav .nav-item{
    font-size: 18px !important;
}
.hero-content .btn {
    padding: 12px 24px 12px 24px !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
}
.about-content p{
    line-height: 1.5 !important;
    font-size: 19px !important;
    letter-spacing: 0.8px !important;
}
.about-content h1{
    margin-top: 2.2em !important;
}

.card .card-body .card-text {
    line-height: 2 !important;
}
#login, #register{
    padding: 8px 26px 8px 26px !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
}

.modal-title {
    font-size: 30px !important;
    letter-spacing: 2px !important;
}

.btn-primary {
    padding: 10px 18px 10px 18px !important;
}

.hero-social-icons img {
    margin-left: 0.8em !important;
    width: 65px !important;
}


#contact-btn {
    --fancy-button-gradient-0: #8d49fd;
    --fancy-button-gradient-50: #7f56f3;
    --fancy-button-gradient-100: #5691f3;
    --fancy-button-inner-shadow-top: rgba(233, 209, 255, 0.2);
    --fancy-button-inner-shadow-top-lg: rgba(9, 12, 60, 0.1);
    --fancy-button-inner-shadow-bottom: rgba(137, 222, 246, 0.3);
    --fancy-button-shine-top: #e9d1ff;
    --fancy-button-shine-bottom: #adfff9;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    text-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    appearance: none;
    border: none;
    outline: none;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 1;
    border-radius: 25px;
    color: #fff;
    background-image: linear-gradient(to bottom, var(--fancy-button-gradient-0) 0%, var(--fancy-button-gradient-50) 50%, var(--fancy-button-gradient-100) 100%);
    box-shadow: 0px 4px 12px rgba(9, 12, 60, 0.15), 0px 2px 8px rgba(9, 12, 60, 0.15), 0px 1px 3px var(--fancy-button-inner-shadow-top-lg), inset 0px 1px 1px var(--fancy-button-inner-shadow-top), inset 0px -1px 3px var(--fancy-button-inner-shadow-bottom);
  }
  
  #contact-btn :before, #contact-btn :after {
    content: '';
    position: absolute;
    border-radius: inherit;
    will-change: transform;
  }
  
  #contact-btn :before {
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--fancy-button-shine-top);
    width: 96px;
    height: 6px;
    top: -3px;
    opacity: 0.6;
    filter: blur(6px);
    transition: opacity 0.25s;
  }
  
  #contact-btn :after {
    inset: 0;
    background-size: cover;
    z-index: 2;
    opacity: 0.3;
    mix-blend-mode: overlay;
    pointer-events: none;
  }
  
  #contact-btn  span {
    display: block;
    padding: 12px 24px;
    border-radius: inherit;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to bottom, var(--fancy-button-shine-top), transparent 8px);
    background-position: 0 -6px;
    background-repeat: no-repeat;
    z-index: 1;
  }
  
  #contact-btn  span:before, #contact-btn  span:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: var(--fancy-button-shine-bottom);
    transition: opacity 0.25s, transform 0.25s;
    will-change: transform;
  }
  
  #contact-btn  span:before {
    width: 92px;
    height: 8px;
    bottom: -4px;
    opacity: 0.75;
    filter: blur(6px);
  }
  
  #contact-btn  span:after {
    width: 112px;
    height: 1px;
    bottom: 0;
    opacity: 0.9;
    filter: blur(1px);
  }
  
  #contact-btn :hover span:before {
    opacity: 0.8;
  }
  
  #contact-btn :hover span:before {
    transform: translateX(-50%) scale(1.25);
  }
  
  #contact-btn :hover span:after {
    opacity: 1;
  } 

  /* From Uiverse.io by adeladel522 */ 
.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(22, 22, 23);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    letter-spacing: 1.8px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  

  @media screen and (max-width: 576px){
    .hero-content h1{
        margin-top: 0.8em !important;
    }
    .snap{
        padding-left: 0em !important;
        width: 90px !important;
    }
    .hero-image{
        text-align: center!important;
    }
    .testimonial{
        margin-top: 0.8em !important;
    }
    .about-content p{
        line-height: 1.5 !important;
        font-size: 16px !important;
        letter-spacing: 0.8px !important;
    }
    .about-content h1{
        margin-top: 0em !important;
        text-align: center;
        font-size: 35px !important;
    }
    .about-image{
        margin-top: -5em!important;
    }
  }
